annotated-types
antlr4-python3-runtime
blinker
certifi
charset-normalizer
click
contourpy
cycler
einops
filelock
flask
fonttools
fsspec
gitdb
gitpython
hydra-core
idna
itsdangerous
jinja2
joblib
kiwisolver
llvmlite
markupsafe
matplotlib
ml-dtypes
mpmath
narwhals
natsort
networkx
numba
numpy
omegaconf
opencv-python
packaging
pandas
pillow
platformdirs
plotly
protobuf
pydantic
pydantic-core
pynndescent
pyparsing
python-dateutil
pytz
pyyaml
requests
scikit-learn
scipy
sentry-sdk
setuptools
six
smmap
sympy
threadpoolctl
torch
tqdm
typing-extensions
typing-inspection
tzdata
umap-learn
urllib3
wandb
werkzeug
